.footer{
    background-color: #EEE4E1;
    margin-top: 20pt;
    
}
.footerBrand{
    font-family: 'Ms Madi', cursive;
    font-size: 35px;
    text-align: center;
}

.footerContent{
    font-family: 'Poiret One', cursive;
    text-align: center;
}